.container {
  /* display: inline-block; */
  background: url("../assets/Stars.jpg");
  /* background-color: #05081b; */
  background-size: 700px 700px;
  background-repeat: repeat;
  background-attachment: fixed;
  width: 100%;
  /* min-width: 400px; */
  overflow: hidden;
  box-sizing: border-box;
  /* padding: 16px; */
  margin: 0;
  /* background-color:black; */
}

body {
  background: transparent;
}
