.container {
  display: inline-block;
  background: url("../assets/Space.png");
  /* background-size: 231px 231px; */
  background-repeat: repeat;
  background-attachment: fixed;
  width: 100%;
  /* min-width: 400px; */
  overflow-x: hidden;
  box-sizing: border-box;
}
