.contactFooterWrapper {
  position: relative;
  /* display: flex; */
  /* height: 100vh; */
  width: 100%;
  margin-bottom: 300px;
  margin-left: 15vw;
}

.contact {
  width: 650px;

  margin-bottom: 203px;
}

.contact > h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin-bottom: 28px;
}

.description {
  font-weight: normal;
  font-size: 20px;
  color: #cacaca;
  margin-bottom: 75px;
  font-style: normal;
}

.mediaWrapper {
  display: grid;
  /* margin-left: 15vw; */
}

/* input[type="text"],
input[type="email"] {
  width: 352px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(245, 224, 156, 0.75);
  margin-bottom: 20px;
  padding-bottom: 5px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #28272d inset !important;
  -webkit-text-fill-color: white !important;
}

::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

textarea {
  width: 430px;
  height: 180px;
  border-radius: 30px;
  background: rgba(245, 224, 156, 0.3);
  border: none;
  resize: none;
  margin-top: 15px;
  padding: 20px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  line-height: 25px;
}

input[type="submit"] {
  margin-top: 18px;
  width: 74px;
  height: 35px;
  background: #383838;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

input[type="submit"]:hover {
  box-shadow: 0px 0px 13px 7px rgba(255, 255, 255, 0.25);
} */
