.picture {
  /* position: absolute; */
  /* margin-top: 10%; */
  /* margin-left: 45%; */
  padding-top: 300px;
  width: 500px;
  transform: rotate(6.75deg);
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.greeting {
  /* position: relative; */
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 0 24px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.greeting > div {
  margin: 0 36px;
}

.description {
  font-weight: normal;
  color: #f5e09c;
  font-size: 24px;
  margin-bottom: 20px;
}

.title {
  font-weight: 500;
  color: #ffffff;
  font-size: 90px;
  margin-bottom: 20px;
}

.coolButton {
  width: 172px;
  height: 44px;
  background: #383838;
  border-radius: 30px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  filter: contrast(120%);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  margin-top: 15px;
}

.coolButton:hover {
  box-shadow: 0px 0px 13px 7px rgba(255, 255, 255, 0.25);
}

@media only screen and (max-width: 1151px) and (min-width: 657px) {
  .greeting {
    flex-wrap: wrap;
    margin-bottom: 200px;
  }

  .picture {
    padding: 0;
    width: 65%;
  }

  .title {
    font-size: 7vw;
  }

  .description {
    font-size: 20px;
  }
}

@media only screen and (max-width: 657px) {
  .greeting {
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 200px;
  }

  .greeting > div {
    margin: 0;
  }

  .picture {
    padding: 0;
    width: 300px;
  }

  .title {
    font-size: 57px;
  }

  .description {
    font-size: 20px;
  }
}
