.box {
  /* width: 275px;
  height: 165px; */
  /* margin-bottom: 50px; */
  margin: 0 25px 50px 0;
  background: none;
  box-sizing: border-box;
  border: 3px solid #f5e09c;
  border-radius: 10px;
  text-align: center;
}

.logo {
  margin-top: -38px;
  width: 76px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* text-align: center; */
  color: #d4d4d4;
  margin-top: 15px;
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #f5e09c;
}
