.container {
  /* margin-bottom: 196px; */
  box-sizing: border-box;
  display: inline-block;
  /* padding: 0 15vw; */
  /* width: 100%;
  height: 100%; */
  /* height: 437px;
  width: 816px;
  width: 75%; */
  /* max-width: 816px;
  min-height: 437px; */
  /* width: 100%; */
  width: 100%;
  max-width: 816px;
  height: 437px;
  margin: 0 auto 169px;

  filter: drop-shadow(0px 0px 20px #eee2b7);
  border-radius: 48px;
  background-size: cover;
  background-repeat: no-repeat;
}

.subcontainer {
  /* backdrop-filter: brightness(0.25); */
  position: relative;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
}

.content {
  max-width: 590px;
  filter: drop-shadow(0px 0px 5px #0000002a);
  z-index: 999;
  padding: 0 48px 0 0;
}

.content > div {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

/* .container > img {
  width: 100%;
  z-index: -1;
  border-radius: 48px;
  filter: brightness(0.25) drop-shadow(0px 0px 20px #eee2b7);
} */

.container h1 {
  display: inline;
  margin-right: 20px;
  font-weight: 500;
  font-size: 53px;
  color: #ffffff;
}

.container h2 {
  margin-bottom: 15px;
  max-width: 500px;
  margin-top: 5px;
  font-weight: normal;
  font-size: 19px;
  font-style: italic;
  color: #f5e09c;
}

ul {
  max-width: 350px;
  column-gap: 0px;
}

li {
  color: #ffffff;
  font-size: 19px;
}

.container ul {
  /* columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2; */
  list-style-position: inside;
}

.links {
  z-index: 999;
  bottom: 24px;
  right: 24px;
  position: absolute;
}

.links > a {
  display: inline-block;
  height: 48px;
  width: 48px;
  margin: 0 8px;
  filter: drop-shadow(0px 0px 5px #0000002a);
}

.links > a > img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    margin-bottom: 100px;
  }

  .container h1 {
    font-size: 32px;
  }

  .container h2 {
    font-size: 16px;
  }

  .subcontainer {
    padding-bottom: 64px;
  }

  .project_logo {
    display: none;
  }

  .links > a {
    height: 36px;
    width: 36px;
  }
}
