.container {
  height: 361px;
  margin-bottom: 196px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container > img {
  height: 437px;
  width: 816px;
  border-radius: 48px;
  filter: brightness(0.25) drop-shadow(0px 0px 20px #eee2b7);
}

.container h1 {
  display: inline;
  margin-right: 20px;
  font-weight: 500;
  font-size: 53px;
  /* line-height: 63px; */
  /* identical to box height */

  text-transform: capitalize;
  color: #ffffff;
}

.container h2 {
  margin-bottom: 15px;
  max-width: 500px;
  margin-top: 5px;
  font-weight: normal;
  font-size: 19px;
  font-style: italic;
  color: #f5e09c;
}

ul {
  width: 350px;
  column-gap: 0px;
}

li {
  color: #ffffff;
  font-size: 19px;
}

.container ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
}

.content {
  max-width: 590px;
  position: absolute;
  margin-left: -75px;
  filter: drop-shadow(0px 0px 5px #0000002a);
}

.content > div {
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

container a {
  margin-right: 15px;
  filter: drop-shadow(0px 0px 5px #0000002a);
}

.links {
  margin-left: 625px;
  margin-top: 325px;
}
