@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Inconsolata", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#root {
  height: 100%;
  width: 100%;
}
